<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - ELF Analyzer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/base.js" defer></script>
    {% endblock %}
</head>
<body>
    <div class="terminal-background"></div>
    <header class="header">
        <h1 id="website-title">ELF Analyzer</h1>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/projects/create">Create Project</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="content-box">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>
